<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <div id="box"></div>
    <script type="text/javascript" th:src="@{/js/ImageClipboard.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript">
		var clipboard = new ImageClipboard('#box')
		clipboard.onpaste = function(base64) {
			
			 if(base64.indexOf("data:image/png")){
				 $.ajax({
						url : "http://localhost:8080/uploadBase64",
						dataType : "JSON",
						data : {
							base64Data : base64
						},
						type : "POST",
						success : function(data) {
							if(data.success === 1)
								console.log(data);
						},
						error : function() {
							console.log("上传失败");
						}
					});
			 }	

		};
	</script>
</body>
</html>